body {
  background-color: #CCC;
}

#video {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

#photo {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

#canvas {
  display: none;
}

.camera {
  width: 320px;
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.output {
  width: 320px;
  display: inline-block;
  transform: scaleX(-1);
}

#playbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 36px;
  padding: 5px;
  background-color: #6a67ce;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 14px;
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.title {
  text-align: center;
}

.contentarea {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 32px;
}

.result-score {
  margin-left: .1rem;
  font-size: 26px;
  color: #333;
}

.result-selection {
  opacity: .5;
}

.result-selection.winner {
  opacity: 1;
  font-size: 36px;
}